<th:block th:replace="/layout.html">
    <th:block th:fragment="main-content">
        <style>
            /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
            .row.content {
                height: 1500px
            }

            /* Set gray background color and 100% height */
            .sidenav {
                background-color: #f1f1f1;
                height: 100%;
            }

            /* Set black background color, white text and some padding */
            footer {
                background-color: #ffffff;
                color: rgb(255, 255, 255);
                padding: 15px;
            }

            /* On small screens, set height to 'auto' for sidenav and grid */
            @media screen and (max-width: 767px) {
                .sidenav {
                    height: auto;
                    padding: 15px;
                }

                .row.content {
                    height: auto;
                }
            }
        </style>
        <div class="container-fluid">
            <h4><small th:text="${course.name}">Course name</small></h4>
            <label for="file" th:text="'Progress(' + ${progress} + '%):' "></label>
            <progress th:value="${progress}" max="100"></progress>
            <hr>
            <div class="row content" style="display: flex;">
                <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white" style="width: 350px;">
                    <div
                        class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
                        <svg class="bi me-2" width="30" height="24">
                            <use xlink:href="#bootstrap"></use>
                        </svg>
                        <span class="fs-5 fw-semibold">All lession</span>
                    </div>
                    <div class="list-group list-group-flush border-bottom scrollarea "
                        th:each="lessonDtoDetail : ${lessonDtoDetails}">
                        <a th:href="'/student/course/lesson/' + ${courseId} + '/' + ${lessonDtoDetail.id}"
                            class="list-group-item list-group-item-action active py-3 lh-tight" aria-current="true"
                            th:style="'background-color: ' + ${lessonDtoDetail.id == leassonId ? 'pink' : 'black'} + ';'">
                            <div class="d-flex w-100 align-items-center justify-content-between">
                                <strong class="mb-1" th:text="'lesson ' + ${lessonDtoDetail.index}"></strong>
                            </div>
                            <div class="col-10 mb-1 small" th:text="${lessonDtoDetail.status}">learning</div>
                        </a>
                    </div>
                    <div class="list-group list-group-flush border-bottom scrollarea" th:if="${isDone == 'false'}">
                        <a class="list-group-item list-group-item-action active py-3 lh-tight" aria-current="true"
                            style="background-color:  red;">
                            <div class="d-flex w-100 align-items-center justify-content-between">
                                <strong class="mb-1">feedback</strong>
                            </div>
                            <div class="col-10 mb-1 small">Not available</div>
                        </a>
                    </div>
                    <div class="list-group list-group-flush border-bottom scrollarea" th:if="${isDone == 'true'}">
                        <a th:href="'/student/course/feedback/' + ${courseId}"
                            class="list-group-item list-group-item-action active py-3 lh-tight" aria-current="true">
                            <div class="d-flex w-100 align-items-center justify-content-between">
                                <strong class="mb-1">feedback</strong>
                            </div>
                            <div class="col-10 mb-1 small">Available</div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div th:if="${isVideo == true}">
                        <form th:action="@{/student/course/lesson/change-learn-status}" method="post">
                            <input type="hidden" th:value="${courseId}" name="courseId">
                            <input type="hidden" th:value="${lesson.id}" name="lessonId">
                            <video controls preload="auto" width="100%">
                                <source th:src="@{ ${lesson.video}}">
                            </video>
                            <h2 th:text="${lesson.title}"></h2>
                            <h5 th:text="${lesson.name}">
                                <span class="glyphicon glyphicon-time">
                                </span>
                            </h5>
                            <button class="btn btn-primary d-block" type="submit" style="width: 150px;">
                                Mark as done
                            </button>
                        </form>
                    </div>
                    <div th:if="${isVideo == false}">
                        <form th:action="@{/student/course/lesson/change-learn-status}" method="post">
                            <h2 th:text="${lesson.title}"></h2>
                            <input type="hidden" th:value="${courseId}" name="courseId">
                            <input type="hidden" th:value="${lesson.id}" name="lessonId">
                            <h5>
                                <span class="label label-danger" th:text="${lesson.name}">
                                </span>
                            </h5>
                            <br>
                            <p th:text="${lesson.document}"></p>
                            <button class="btn btn-primary d-block" type="submit" style="width: 150px;">
                                Mark as done
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</th:block>