<th:block th:replace="/layout.html">
  <th:block th:fragment="main-content">
    <section class="py-5">
      <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
          <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" th:src="@{'/image/' + ${course.imageLink} }"
              alt="..." /></div>
          <div class="col-md-6">
            <div class="small mb-1"></div>
            <h1 class="display-5 fw-bolder" th:text="${course.name}">Shop item template</h1>
            <div class="fs-5 mb-5">
              <!-- <span class="text-decoration-line-through" th:text="${course.price}">$45.00</span> -->
              <span th:text="${course.price}"> $40.00</span>
            </div>
            <i class="fa fa-eye" aria-hidden="true"></i>
            <span th:text="${view}"></span>
            <p class="lead" th:text="${course.description}"></p>
            <form th:if="${textCart == 'add to cart'}" th:action="@{/student/addToCart}" method="post">
              <div class="d-flex">
                <input th:value="${course.id}" type="hidden" name="courseId">
                <button class=" btn btn-outline-dark flex-shrink-0" type="submit" th:text="${textCart}">
                  <i class="bi-cart-fill me-1"></i>
                  Add to cart
                </button>
              </div>
            </form>

            <button th:if="${textCart == 'already in cart'}" class=" btn btn-outline-dark flex-shrink-0"
              th:text="${textCart}">
              <i class="bi-cart-fill me-1"></i>
              Add to cart
            </button>
          </div>
        </div>
      </div>
    </section>
  </th:block>
</th:block>