<th:block th:replace="/layout.html">
    <th:block th:fragment="main-content">
        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }

            .rating {
                font-size: 0;
                white-space: nowrap;
                display: inline-block;
            }

            .star {
                display: inline-block;
                width: 16px;
                height: 16px;
                background-image: url('filled-star.png');
            }

            .star::before {
                content: '';
                width: 100%;
                height: 100%;
                background-image: url('empty-star.png');
            }

            .star.active::before {
                display: none;
            }
        </style>
        <section class="h-100 h-custom" style="background-color: #ffffff;">
            <h1 style="margin-left: 100px;">My Course</h1>
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12">
                        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                            <div class="card-body p-0">
                                <div class="row g-0">
                                    <div class="album">
                                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
                                            <div class="col" th:each="course : ${courses}">
                                                <div class="card shadow-sm">
                                                    <img th:src="@{'/image/' + ${course.imageLink} }" width="100%"
                                                        height="225">
                                                    <div class=" card-body">
                                                        <a th:href="'/student/course/detail/' + ${course.id}">
                                                            <h3 th:text="${course.name}"></h3>
                                                        </a>
                                                        <p th:text="${course.description}"
                                                            class="card-text text-secondary"></p>
                                                        <div class="d-flex">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
    </th:block>
</th:block>