<section class="intro">
    <div class="bg-image h-100">
        <div class="mask d-flex align-items-center h-100">
            <div class="container">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-12 col-lg-9 col-xl-8">
                        <div class="card" style="border-radius: 1rem;">
                            <div class="row justify-content-center">
                                <div class="d-flex align-items-center">
                                    <div class="card-body py-5 px-4 p-md-5">
                                        <div class="pb-3">
                                            <h1 th:text="'Detail ' + ${entity.class.getSimpleName}"></h1>
                                            <div>
                                                <hr />
                                                <dl class="row border rounded p-3">
                                                    <th:block th:each="field : ${fields}">
                                                        <dt th:text="${field.getName}"
                                                            class="col-sm-3 fw-bold text-capitalize"></dt>
                                                        <dd th:text="${entity[field.getName]}" class="col-sm-9">
                                                        </dd>
                                                        <hr style="color: #aaaaaa" />
                                                    </th:block>
                                                </dl>
                                            </div>
                                            <div>
                                                <a href="/Cars/Edit/2">Edit</a> |
                                                <a href="/Cars">Back to List</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>