<th:block th:replace="/layout.html">
    <th:block th:fragment="main-content">
        <section class="h-100 h-custom" style="background-color: #ffffff;">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12">
                        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                            <div class="card-body p-0">
                                <div class="row g-0">
                                    <div class="col-lg-8">
                                        <div class="p-5">
                                            <div class="d-flex justify-content-between align-items-center mb-5">
                                                <h1 class="fw-bold mb-0 text-black"> Cart</h1>
                                                <h6 class="mb-0 text-muted" th:text="${size} + 'items'"></h6>
                                            </div>
                                            <hr class="my-4">
                                            <form method="post" th:action="@{/student/order}">
                                                <div class="row mb-4 d-flex justify-content-between align-items-center"
                                                    th:each="course : ${courses}">
                                                    <div class="col-md-2 col-lg-2 col-xl-2">
                                                        <img th:src="@{${course.imageLink} }"
                                                            class="img-fluid rounded-3" alt="Cotton T-shirt">
                                                    </div>
                                                    <div class="col-md-3 col-lg-3 col-xl-3">
                                                        <h6 class="text-muted">Course</h6>
                                                        <h6 class="text-black mb-0" th:text="${course.name}">Cotton
                                                            T-shirt
                                                        </h6>
                                                    </div>
                                                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                                        <h6 class="mb-0" th:text="${course.price} + ' vnd'"></h6>
                                                    </div>
                                                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                                        <a th:href="'/student/cart/delete/' + ${course.id}"
                                                            class="text-muted"><i class="fas fa-times"></i></a>
                                                    </div>
                                                </div>
                                                <hr class="my-4">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 bg-grey">
                                        <div class="p-5">
                                            <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                                            <hr class="my-4">
                                            <div class="d-flex justify-content-between mb-5">
                                                <h5 class="text-uppercase">Total price</h5>
                                                <h5 th:text="${total} + ' vnd'"> 137.00</h5>
                                                <input type="hidden" th:value="${total}" th:name="total">
                                            </div>
                                            <button type="submit" class="btn btn-dark btn-block btn-lg"
                                                data-mdb-ripple-color="dark">pay</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </th:block>
</th:block>