<!-- Footer component-->
<div class="footer py-2 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 footer-navigation">
                <p class="links" style="
                  background: url('/image/logo_2.png') center /
                  cover no-repeat;
                  width: 60px;
                  height: 60px;
                  margin-top: 2px;
                  border-radius: 1rem;
                  "></p>
                <h1 style="font-size: 2rem; font-family: 'Ultra';">ONVID</h1>
                <p class="company-name">ONVID © 2023</p>
            </div>
            <div class="col-sm-6 col-md-4 footer-contacts" style="font-size: 14px;">
                <div class="m-3">
                    <span class="fa fa-map-marker footer-contacts-icon"> </span>
                    <span>
                        <span class="new-line-span">FPT University Hoa Lac |</span> Ha
                        Noi, Viet Nam
                    </span>
                </div>
                <div class="m-3">

                    <i class="fa fa-phone footer-contacts-icon"></i>
                    <span class="footer-center-info email text-start">+89 354046455</span>
                </div>
                <div class="m-3">

                    <i class="fa fa-envelope footer-contacts-icon"></i>
                    <span><a href="#" target="_blank">onvid0505@gmail.com</a></span>
                </div>
            </div>
            <div class="col-md-4 footer-about mt-2">
                <h4 style="font-size: 18px;">What is Learning Online?</h4>
                <p style="font-size: 14px;">
                    Online learning is a method of learning and reinforcing knowledge through online platforms. It
                    provides learners with the convenience of accessing and studying easily, along with the ability to
                    track and receive support from instructors
                </p>
                <div class="social-links social-icons">
                    <a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a
                        href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a>
                </div>
            </div>
        </div>
        <div></div>
    </div>
</div>