<!-- Header component -->
<div class="p-3 bg-dark text-white mb-3">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap" />
                </svg>
            </a>

            <div>

                <a href="/home/1" style="float: left;">
                    <button type="button" class="btn btn-warning">Home</button>
                </a>
                <span style="margin-left: 800px;">
                    <a href="/student/login">
                        <button type="button" class="btn btn-outline-light me-2">Login</button>
                    </a>
                    <a href="/register">
                        <button type="button" class="btn btn-warning">Sign-up</button>
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>