<th:block th:replace="/layout-no-cart.html">
    <th:block th:fragment="main-content">
        <section class="py-4 py-xl-5">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-md-8 col-xl-6 text-center mx-auto">
                        <form th:action="@{/change-password}" method="post">
                            <h2>Forgot password</h2>
                            <p>Enter new password</p>
                            <input class="form-control" type="password" placeholder="password" required
                                style="margin-top: 10px" name="password" />
                            <input class="form-control" type="password" placeholder="re-password" required
                                style="margin-top: 10px" name="re-password" />
                            <br>
                            <button class="btn btn-primary d-block w-100" type="submit">
                                change password
                            </button>
                            <input type="hidden" th:value="${register}" name="register">
                            <p th:text="${OtpCodeTimeOut}" style="color: red;"></p>
                        </form>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </section>
    </th:block>
</th:block>