<th:block th:replace="/layout-no-cart.html">
    <th:block th:fragment="main-content">
        <h2>Add New Course</h2>
        <form th:action="@{/teacher/course/create}" th:object="${course}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="courseName">Course Name:</label>
                <input type="text" class="form-control" id="courseName" name="courseName" required th:field="*{name}">
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;"></p>
            </div>
            <div class="form-group">
                <label for="price">Price:</label>
                <input type="number" class="form-control" id="price" name="price" required th:field="*{price}">
                <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" style="color: red;"></p>
            </div>
            <div class="form-group">
                <label for="topic">Topic:</label>
                <select class="form-control" id="topic" name="topic">
                    <option th:each="topic : ${topics}" th:value="${topic.id}" th:text="${topic.name}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="descriptionfake">Description:</label>
                <textarea class="form-control" id="descriptionfake" name="descriptionfake" rows="4" required
                    th:field="*{description}"></textarea>
                <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" style="color: red;"></p>
            </div>
            <div class="form-group">
                <label for="image">Image:</label>
                <input type="file" class="form-control-file" id="image" name="image" required>
                <p th:if="${errorFormat != ''}" th:text="${errorFormat}" style="color: red;"></p>
            </div>
            <input type="hidden" class="form-control" id="description" name="description" th:value="*{description}">
            <input type="hidden" class="form-control" id="topicfake" name="topicfake" th:field="*{topic_id}" value="1">
            <input type="hidden" class="form-control" id="imageLink" name="imageLink" th:field="*{imageLink}"
                value="ahihi">
            <button type="submit" class="btn btn-primary" th:onclick="submit1()">Add Course</button>
        </form>
        <script th:inline="javascript">
            function submit1() {
                var text = document.getElementById("descriptionfake").value;

                document.getElementById("description").value = text;

            }
        </script>
    </th:block>
</th:block>