<th:block th:replace="/layout-no-cart.html">
    <th:block th:fragment="main-content">
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <style>
            table {
                width: 100%;
            }

            .datatable-search {
                position: relative;
            }

            .datatable-input,
            .datatable-selector {
                padding: 8px 12px;
                border: 1px solid #ccc;
                border-radius: 4px;
                font-size: 14px;
            }

            .datatable-input:focus,
            .datatable-selector:focus {
                outline: none;
                border-color: #5c7cfa;
                box-shadow: 0 0 0 2px rgba(92, 124, 250, 0.5);
            }

            th {
                color: #5c7cfa;
            }

            td {
                max-width: 200px;
            }
        </style>

        <div class="container-fluid px-4">
            <div class="card mb-4">
                <div class="card-header" th:text="'List Course'">
                </div>
                <div class="card-body table-responsive">

                    <table id="datatablesSimple" class="table table-hover">
                        <a href="/teacher/course/create" class="btn btn-primary px-3 " aria-disabled="true">Create</a>

                        <thead>
                            <tr>
                                <th th:text="Name" class="text-capitalize"></th>
                                <th th:text="Image" class="text-capitalize"></th>
                                <th>Topic</th>
                                <th>Status</th>
                                <th>Price</th>
                                <th>Action</th>
                                <!-- <th></th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="entity : ${entities}">
                                <td th:text="${entity.name}"></td>
                                <td> <img style="aspect-ratio: 4/3; object-fit: cover;" width="100px"
                                        th:src="@{${entity.image}}" alt="..." onerror="checkAndReloadImage(this)" />

                                </td>
                                <td th:text="${entity.topic}"></td>
                                <td>
                                    <div th:switch="${entity.status}">
                                        <div th:case="-1">
                                            <div class="btn btn-dark btn-sm" th:text="Draf"></div>
                                        </div>
                                        <div th:case="0">
                                            <div class="btn btn-dark btn-sm" th:text="Submited"></div>
                                        </div>
                                        <div th:case="1">
                                            <div class="btn btn-dark btn-sm" th:text="Reviewing"></div>
                                        </div>
                                        <div th:case="2">
                                            <div class="btn btn-dark btn-sm" th:text="Reject"></div>
                                        </div>
                                        <div th:case="3">
                                            <div class="btn btn-dark btn-sm" th:text="Published"></div>
                                        </div>
                                        <div th:case="4">
                                            <div class="btn btn-dark btn-sm" th:text="DeActive"></div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span th:text="${entity.price}" class="card-title"></span><small>vnđ</small>
                                </td>
                                <td>
                                    <a th:href="'detail/' + ${entity.id}" class="btn btn btn-dark btn-sm " tabindex="-1"
                                        aria-disabled="true">Details</a>
                                    <a th:if="${entity.status ne 3 and entity.status ne 0 and entity.status ne 1}"
                                        th:href="'edit/' + ${entity.id}" class="btn btn btn-dark btn-sm" tabindex="-1"
                                        aria-disabled="true">Edit</a>
                                    <a th:if="${entity.status ne 3 and entity.status ne 0 and entity.status ne 1}"
                                        th:href="'submit/' + ${entity.id}" class="btn btn btn-dark btn-sm" tabindex="-1"
                                        aria-disabled="true">Submit</a>
                                    <a th:if="${entity.status ne 3 and entity.status ne 0 and entity.status ne 1}"
                                        th:href="'delete/' + ${entity.id}" class="btn btn btn-dark btn-sm" tabindex="-1"
                                        aria-disabled="true">Delete</a>
                                    <a th:if="${entity.isReviews}" th:href="'review/' + ${entity.id}"
                                        class="btn btn btn-dark btn-sm" tabindex="-1" aria-disabled="true">Reviews</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script th:src="@{/assets/js/datatables-simple-demo.js}"></script>
        <script>
            function checkAndReloadImage(imageUrl) {
                setTimeout(function () {
                    var newImg = new Image();
                    newImg.src = imageUrl.src;
                    // TODO: Xử lý tải lại ảnh tại đây, ví dụ gán lại ảnh vào một thẻ <img>
                    imageUrl.src = newImg.src;
                }, 300);
            };
        </script>
    </th:block>
</th:block>