<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
    <!-- Insert from linkStyte.html -->
    <th:block th:insert="/component/linkStyte.html"></th:block>
</head>

<body>
    <header th:insert="/component/header.html"></header>

    <main class="p-3">
        <th:block th:insert=":: main-content"></th:block>
    </main>

    <footer th:insert="/component/footer.html"></footer>
    <!-- Insert from linkScript.html -->
    <th:block th:insert="/component/linkScript.html"></th:block>
</body>

</html>