<!DOCTYPE html>
<html>

<head>
    <title>Quizizz Clone - Add Question</title>
</head>

<body>
    <h1>Add Question</h1>
    <form id="questionForm" action="teacher/question/add" method="post" th:object="${question}">
        <label for="questionText">Question:</label>
        <input type="text" id="questionText" name="question" required th:field="*{name}"><br>
        <div id="answersContainer">
            <div class="answer">
                <label for="answer1">Answer 1:</label>
                <input type="text" id="answer1" name="answers" required th:field="*{answerChoices[0].answer}">
                <input type=" radio" name="correctRadio" value="0" required th:checked="*{answerChoices[0].correct}">
                <input type="hidden" name="answerIds" value="0">
                <button type="button" onclick="removeAnswer(this)">Delete</button>
            </div>
            <div class="answer">
                <label for="answer2">Answer 2:</label>
                <input type="text" id="answer2" name="answers" required th:field="*{answerChoices[1].answer}">
                <input type=" radio" name="correctRadio" value="1" required th:checked="*{answerChoices[1].correct}">
                <input type="hidden" name="answerIds" value="1">
                <button type="button" onclick="removeAnswer(this)">Delete</button>
            </div>
        </div>
        <button type="button" onclick="addAnswer()">Add Answer</button>
        <button type="submit">Add Question</button>
    </form>
    <h2>List of Questions:</h2>
    <ul>
        <li th:each="question : ${questions}">
            <span th:text="${question.question}"></span>
        </li>
    </ul>
</body>

</html>