<th:block th:replace="/layout-no-cart.html">
    <th:block th:fragment="main-content">
        <section class="py-4 py-xl-5">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-md-8 col-xl-6 text-center mx-auto">
                        <h2>Register Successfull</h2>
                        <p>Go to homepage and watting our team consider your CV</p>

                        <br>
                        <a href="/home/1">
                            <button class="btn btn-primary d-block w-100" type="">
                                Home Page
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </section>
    </th:block>
</th:block>