<th:block th:replace="/layout-no-cart.html">
    <th:block th:fragment="main-content">
        <div><a th:href="'/teacher/lesson/create/'+ ${courseId} + '/' + 1" class="btn btn-danger px-3">Document</a>
        </div>
        <div><a th:href="'/teacher/lesson/create/'+ ${courseId} + '/' + 0" class="btn btn-info px-3">Video</a></div>
        <div><a th:href="'/teacher/course/detail/'+ ${courseId} + '/' + 0" class="btn btn-info px-3">Back To Detail
                Course</a></div>
    </th:block>
</th:block>