<div>
    <hr />
    <dl class="row border rounded p-3">
        <dt class="col-sm-3 fw-bold text-capitalize">
            id
        </dt>
        <dd th:text="${entity.id}" class="col-sm-9">
        </dd>
        <hr style="color: #aaaaaa" />
        <dt class="col-sm-3 fw-bold text-capitalize">
            name
        </dt>
        <dd th:text="${entity.name}" class="col-sm-9">
        </dd>
        <hr style="color: #aaaaaa" />
        <dt class="col-sm-3 fw-bold text-capitalize">
            description
        </dt>
        <dd th:text="${entity.description}" class="col-sm-9">
        </dd>
        <hr style="color: #aaaaaa" />
        <dt class="col-sm-3 fw-bold text-capitalize">
            teacher
        </dt>
        <dd class="col-sm-9">
            <a th:href="'/admin/users/detail/' + ${entity.teacher?.id}" class="bold shadow-lg" tabindex="-1"
                aria-disabled="true" th:text="${entity.teacher?.name}"></a>
        </dd>
        <hr style="color: #aaaaaa" />
        <dt class="col-sm-3 fw-bold text-capitalize">
            price
        </dt>
        <dd th:text="${entity.price}" class="col-sm-9">
        </dd>
        <hr style="color: #aaaaaa" />

        <dt class="col-sm-3 fw-bold text-capitalize">
            topic
        </dt>
        <dd class="col-sm-9">
            <a th:href="'/admin/topics/detail/' + ${entity.topic?.id}" class="bold shadow-lg" tabindex="-1"
                aria-disabled="true" th:text="${entity.topic?.name}"></a>
        </dd>
        <hr style="color: #aaaaaa" />
        <dt class="col-sm-3 fw-bold text-capitalize">
            view
        </dt>
        <dd class="col-sm-9">
            <th:block th:unless="${entity.views.isEmpty}"
                th:text="${entity.views?.![viewNumber]?.get(entity.views.size() - 1)}">
            </th:block>
            <th:block th:if="${entity.views.isEmpty}" th:text="0"></th:block>
        </dd>
        <hr style="color: #aaaaaa" />
        <dt class="col-sm-3 fw-bold text-capitalize">
            student
        </dt>
        <dd th:unless="${entity.lessons.empty}" th:text="${entity.lessons[0]?.learns?.size}" class="col-sm-9">
        </dd>
        <hr style="color: #aaaaaa" />
        <dt class="col-sm-3 fw-bold text-capitalize">
            lessons
        </dt>
        <dd th:text="${entity.lessons?.size}" class="col-sm-9">
        </dd>
        <hr style="color: #aaaaaa" />

        <dt class="col-sm-3 fw-bold text-capitalize">
            date
        </dt>
        <dd th:text="${#dates.format(entity.date, 'dd/MM/yyyy HH:mm')}" class="col-sm-9">
        </dd>
        <hr style="color: #aaaaaa" />
        <dt class="col-sm-3 fw-bold text-capitalize">
            image
        </dt>
        <dd class="col-sm-9">
            <img th:src="${entity.imageLink}" alt="image of course" class="" width="100px" />
        </dd>
        <hr style="color: #aaaaaa" />

        <dt class="col-sm-3 fw-bold text-capitalize">
            Go to course
        </dt>
        <dd class="col-sm-9">
            <a th:href="'/student/course/detail/' + ${entity.id}" target="_blank" class="btn btn-link"
                th:text="${entity.name}"></a>
        </dd>
        <hr style="color: #aaaaaa" />
        <dt class="col-sm-3 fw-bold text-capitalize">
            status
        </dt>
        <dd class="col-sm-9">
            <span th:if="${entity.status == 0}" class="btn btn-info">To Do
            </span>
            <span th:if="${entity.status == 1}" class="btn btn-primary">In
                Processing</span>
            <span th:if="${entity.status == 3}" class="btn btn-success">Approved</span>
            <span th:if="${entity.status == 2}" class="btn btn-dark">Rejected</span>
        </dd>
    </dl>
</div>