<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>Onvid</title>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&amp;display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee&amp;display=swap" />
  <link rel="stylesheet" th:href="@{/assets/fonts/font-awesome.min.css}" />
  <link rel="stylesheet" th:href="@{/assets/css/styles.min.css}" />
</head>

<body>
  <nav class="navbar navbar-light navbar-expand-md" style="background: rgb(227, 175, 184)">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html" style="
            background: url('assets/img/logo_transparent.png') center / cover
              no-repeat;
            width: 120px;
            height: 120px;
          "></a>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="navbar-nav mx-auto" style="font-family: 'Abril Fatface', serif">
          <li class="nav-item">
            <a class="nav-link active" href="index.html">Home</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="#">About</a></li>
          <li class="nav-item">
            <a class="nav-link" href="Detail.html">C<strong>art</strong></a>
          </li>
          <li class="nav-item"></li>
        </ul>
        <ul class="navbar-nav text-end ms-auto">
          <li class="nav-item">
            <a class="nav-link active text-end" href="SignIn.html" style="font-family: 'Abril Fatface', serif"
              data-bs-target="signin.html">Sign In</a>
          </li>
          <li class="nav-item"></li>
          <li class="nav-item"></li>
          <li class="nav-item"></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="shopping-cart">
    <div class="px-4 px-lg-0">
      <div class="pb-5">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
              <!-- Shopping cart table -->
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col" class="border-0 bg-light">
                        <div class="p-2 px-3 text-uppercase">Product</div>
                      </th>
                      <th scope="col" class="border-0 bg-light">
                        <div class="py-2 text-uppercase">Price</div>
                      </th>
                      <th scope="col" class="border-0 bg-light">
                        <div class="py-2 text-uppercase">Quantity</div>
                      </th>
                      <th scope="col" class="border-0 bg-light">
                        <div class="py-2 text-uppercase">Remove</div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row" class="border-0">
                        <div class="p-2">
                          <img src="https://res.cloudinary.com/mhmd/image/upload/v1556670479/product-1_zrifhn.jpg"
                            alt="" width="70" class="img-fluid rounded shadow-sm" />
                          <div class="ml-3 d-inline-block align-middle">
                            <h5 class="mb-0">
                              <a href="#" class="text-dark d-inline-block align-middle">Timex Unisex Originals</a>
                            </h5>
                            <span class="text-muted font-weight-normal font-italic d-block">Category: Watches</span>
                          </div>
                        </div>
                      </th>
                      <td class="border-0 align-middle">
                        <strong>$79.00</strong>
                      </td>
                      <td class="border-0 align-middle">
                        <strong>3</strong>
                      </td>
                      <td class="border-0 align-middle">
                        <a href="#" class="text-dark"><i class="fa fa-trash"></i></a>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        <div class="p-2">
                          <img src="https://res.cloudinary.com/mhmd/image/upload/v1556670479/product-3_cexmhn.jpg"
                            alt="" width="70" class="img-fluid rounded shadow-sm" />
                          <div class="ml-3 d-inline-block align-middle">
                            <h5 class="mb-0">
                              <a href="#" class="text-dark d-inline-block">Lumix camera lense</a>
                            </h5>
                            <span class="text-muted font-weight-normal font-italic">Category: Electronics</span>
                          </div>
                        </div>
                      </th>
                      <td class="align-middle"><strong>$79.00</strong></td>
                      <td class="align-middle"><strong>3</strong></td>
                      <td class="align-middle">
                        <a href="#" class="text-dark"><i class="fa fa-trash"></i></a>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        <div class="p-2">
                          <img src="https://res.cloudinary.com/mhmd/image/upload/v1556670479/product-2_qxjis2.jpg"
                            alt="" width="70" class="img-fluid rounded shadow-sm" />
                          <div class="ml-3 d-inline-block align-middle">
                            <h5 class="mb-0">
                              <a href="#" class="text-dark d-inline-block">Gray Nike running shoe</a>
                            </h5>
                            <span class="text-muted font-weight-normal font-italic">Category: Fashion</span>
                          </div>
                        </div>
                      </th>

                      <td class="align-middle"><strong>$79.00</strong></td>
                      <td class="align-middle"><strong>3</strong></td>
                      <td class="align-middle">
                        <a href="#" class="text-dark"><i class="fa fa-trash"></i></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- End -->
            </div>
          </div>

          <div class="row py-5 p-4 bg-white rounded shadow-sm">
            <div class="col-lg-6">
              <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">
                Coupon code
              </div>
              <div class="p-4">
                <p class="font-italic mb-4">
                  If you have a coupon code, please enter it in the box below
                </p>
                <div class="input-group mb-4 border rounded-pill p-2">
                  <input type="text" placeholder="Apply coupon" aria-describedby="button-addon3"
                    class="form-control border-0" />
                  <div class="input-group-append border-0">
                    <button id="button-addon3" type="button" class="btn btn-dark px-4 rounded-pill">
                      <i class="fa fa-gift mr-2"></i>Apply coupon
                    </button>
                  </div>
                </div>
              </div>
              <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">
                Instructions for seller
              </div>
              <div class="p-4">
                <p class="font-italic mb-4">
                  If you have some information for the seller you can leave
                  them in the box below
                </p>
                <textarea name="" cols="30" rows="2" class="form-control"></textarea>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">
                Order summary
              </div>
              <div class="p-4">
                <p class="font-italic mb-4">
                  Shipping and additional costs are calculated based on values
                  you have entered.
                </p>
                <ul class="list-unstyled mb-4">
                  <li class="d-flex justify-content-between py-3 border-bottom">
                    <strong class="text-muted">Order Subtotal </strong><strong>$390.00</strong>
                  </li>
                  <li class="d-flex justify-content-between py-3 border-bottom">
                    <strong class="text-muted">Shipping and handling</strong><strong>$10.00</strong>
                  </li>
                  <li class="d-flex justify-content-between py-3 border-bottom">
                    <strong class="text-muted">Tax</strong><strong>$0.00</strong>
                  </li>
                  <li class="d-flex justify-content-between py-3 border-bottom">
                    <strong class="text-muted">Total</strong>
                    <h5 class="font-weight-bold">$400.00</h5>
                  </li>
                </ul>
                <a href="#" class="btn btn-dark rounded-pill py-2 btn-block">Procceed to checkout</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div>
      <footer style="background: #edb9c2">
        <div class="row">
          <div class="col-sm-6 col-md-4 footer-navigation">
            <h3></h3>
            <p class="links" style="
                  background: url('assets/img/logo_transparent.png') center /
                    cover no-repeat;
                  width: 200px;
                  height: 200px;
                  margin-top: 2px;
                "
              ></p>
              <p class="company-name">Company Name © 2023</p>
            </div>
            <div class="col-sm-6 col-md-4 footer-contacts">
              <div>
                <span class="fa fa-map-marker footer-contacts-icon"> </span>
                <p>
                  <span class="new-line-span">24 Truong Dinh Street</span> Ha
                  Noi, Viet Nam
                </p>
              </div>
              <div>
                <i class="fa fa-phone footer-contacts-icon"></i>
                <p class="footer-center-info email text-start">+89 354046455</p>
              </div>
              <div>
                <i class="fa fa-envelope footer-contacts-icon"></i>
                <p><a href="#" target="_blank">minhdung@gmail.com</a></p>
              </div>
            </div>
            <div class="col-md-4 footer-about">
              <h4>About the company</h4>
              <p>
                Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce
                euismod convallis velit, eu auctor lacus vehicula sit amet.
              </p>
              <div class="social-links social-icons">
                <a href="#"><i class="fa fa-facebook"></i></a
                ><a href="#"><i class="fa fa-twitter"></i></a
                ><a href="#"><i class="fa fa-linkedin"></i></a
                ><a href="#"><i class="fa fa-github"></i></a>
              </div>
            </div>
          </div>
          <div></div>
        </footer>
      </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/script.min.js"></script>
  </body>
</html>