<!DOCTYPE html>
<html data-bs-theme="light" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>Onvid</title>
  <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&amp;display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee&amp;display=swap" />
  <link rel="stylesheet" th:href="@{/assets/fonts/font-awesome.min.css}" />
  <link rel="stylesheet" th:href="@{/assets/css/styles.min.css}" />
</head>

<body>
  <nav class="navbar navbar-light navbar-expand-md" style="background: rgb(227, 175, 184)">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html" style="
            background: url('assets/img/logo_transparent.png') center / cover
              no-repeat;
            width: 120px;
            height: 120px;
          "></a>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="navbar-nav mx-auto" style="font-family: 'Abril Fatface', serif">
          <li class="nav-item">
            <a class="nav-link active" href="index.html">Home</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="#">About</a></li>
          <li class="nav-item">
            <a class="nav-link" href="Cart-1.html">C<strong>art</strong></a>
          </li>
          <li class="nav-item"></li>
        </ul>
        <ul class="navbar-nav text-end ms-auto">
          <li class="nav-item">
            <a class="nav-link active text-end" href="index.html" style="font-family: 'Abril Fatface', serif"
              data-bs-target="signin.html">Sign up</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div>
    <div class="x_001_laptop_main_wrap">
      <div class="row">
        <div class="col-md-7">
          <div class="x_001_laptop_inner_wrap">
            <img th:src="@{/assets/img/x_001_laptop_img.png}" alt="x_001_laptop_img" />
            <div id="x_001_laptop"
              class="carousel slide x_001_laptop_indicators x_001_laptop_control_button thumb_scroll_x swipe_x ps_easeOutQuad"
              ride="carousel" data-duration="2000" data-bs-pause="hover" data-bs-interval="8000">
              <ol class="carousel-indicators">
                <li class="active" data-bs-target="#x_001_laptop" data-bs-slide-to="0"></li>
                <li data-bs-target="#x_001_laptop" data-bs-slide-to="1"></li>
                <li data-bs-target="#x_001_laptop" data-bs-slide-to="2"></li>
              </ol>
              <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                  <img th:src="@{/assets/img/Tech.jpg}" alt="x_001_laptop_01" />
                </div>
                <div class="carousel-item">
                  <img th:src="@{/assets/img/AI.jpg}" alt="x_001_laptop_02" />
                </div>
                <div class="carousel-item">
                  <img th:src="@{/assets/img/databasE.jpg}" alt="x_001_laptop_03" />
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#x_001_laptop" data-bs-slide="prev"><i
                class="fa fa-angle-left"></i></a><a class="carousel-control-next" href="#x_001_laptop"
              data-bs-slide="next"><span class="fa fa-angle-right"></span></a>
          </div>
        </div>
        <div class="col-md-5" style="background: rgba(232, 62, 184, 0)">
          <h1 th:text="${course.courseName}">What is developer</h1>
          <p th:text="${course.description}">
            A developer, in the context of software development, is a
            professional who designs, creates, tests, and maintains computer
            software.Developers use programming languages, development
            frameworks, and various tools to build software applications,
            websites, mobile apps, or other software systems.
          </p>

        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="row g-0">
      <div class="col-md-12 col-lg-4">
        <div class="summary">
          <h4></h4>
          <h4 class="text-center">
            <span class="text">Total:</span><span class="text-primary price" th:text="'$' + ${course.price}">&nbsp;
              $360</span>
          </h4>
          <form th:action="@{/student/cart}" method="post">

            <input type="submit"
              class="btn btn-primary btn-sm active font-monospace text-nowrap text-truncate text-break fs-5 fw-light text-center bg-primary bg-gradient border-2 border-primary shadow-sm d-flex float-start d-md-flex flex-grow-1 ms-auto justify-content-md-center w-100"
              role="button" href="Cart-1.html" style="
                margin-right: 0px;
                padding: 5px;
                color: var(--bs-btn-disabled-color);
                background: var(--bs-blue);
                border-top-left-radius: 30px;
                border-top-right-radius: 30px;
                border-bottom-right-radius: 28px;
                border-bottom-left-radius: 28px;

               
              " value="Add to cart"> </input>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div></div>
  <div>
    <div>
      <footer style="background: #edb9c2">
        <div class="row">
          <div class="col-sm-6 col-md-4 footer-navigation">
            <h3></h3>
            <p class="links" style="
                  background: url('assets/img/logo_transparent.png') center /
                    cover no-repeat;
                  width: 200px;
                  height: 200px;
                  margin-top: 2px;
                "></p>
            <p class="company-name">Company Name © 2023</p>
          </div>
          <div class="col-sm-6 col-md-4 footer-contacts">
            <div>
              <span class="fa fa-map-marker footer-contacts-icon"> </span>
              <p>
                <span class="new-line-span">24 Truong Dinh Street</span> Ha
                Noi, Viet Nam
              </p>
            </div>
            <div>
              <i class="fa fa-phone footer-contacts-icon"></i>
              <p class="footer-center-info email text-start">+89 354046455</p>
            </div>
            <div>
              <i class="fa fa-envelope footer-contacts-icon"></i>
              <p><a href="#" target="_blank">minhdung@gmail.com</a></p>
            </div>
          </div>
          <div class="col-md-4 footer-about">
            <h4>About the company</h4>
            <p>
              Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce
              euismod convallis velit, eu auctor lacus vehicula sit amet.
            </p>
            <div class="social-links social-icons">
              <a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i
                  class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a>
            </div>
          </div>
        </div>
        <div></div>
      </footer>
    </div>
  </div>

  <script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
  <script th:src="@{/assets/js/script.min.js}"></script>

</body>

</html>