<!DOCTYPE html>
<html data-bs-theme="light" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Onvid</title>
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="/https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee&amp;display=swap">
    <link rel="stylesheet" th:href="@{assets/fonts/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/assets/fonts/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/assets/fonts/ionicons.min.css}">
    <link rel="stylesheet" th:href="@{/assets/fonts/fontawesome5-overrides.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Account-setting-or-edit-profile.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Animated-Pretty-Product-List-v12-Animated-Pretty-Product-List.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Bootstrap-4---Product-List.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Color-Contact-List.css}">
    <link rel="stylesheet" th:href="@{/assets/css/divider-text-middle.css}">
    <link rel="stylesheet" th:href="@{/assets/css/FIGLOOslides.css}">
    <link rel="stylesheet" th:href="@{/assets/css/LinkedIn-like-Profile-Box.css}">
    <link rel="stylesheet" th:href="@{/ssets/css/Ludens-Users---3-Profile.css}">
    <link rel="stylesheet" th:href="@{/assets/css/navbar-shoppingcart-ecommerce.css}">
    <link rel="stylesheet" th:href="@{/ssets/css/News-Cards.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Pretty-Footer-.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Profile-with-data-and-skills.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Search-Input-responsive.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Slider-laptop-laptop-Slider-1.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Slider-laptop-laptop-Slider.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Ultimate-Testimonial-Slider.css}">
    <link rel="stylesheet" th:href="@{/assets/css/User-Payment-Overview-Rows---Panel-Container.css}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md" style="background: rgb(227,175,184);">
        <div class="container-fluid"><a class="navbar-brand" href="index.html"
                style="background: url(&quot;assets/img/logo_transparent.png&quot;) center / cover no-repeat;width: 120px;height: 120px;"></a>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mx-auto" style="font-family: 'Abril Fatface', serif;">
                    <li class="nav-item"><a class="nav-link active" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="Detail.html">C<strong>art</strong></a></li>
                    <li class="nav-item"></li>
                </ul>

                <div th:text="${session.studentSession.email}"> </div>
                <div class="float-start float-md-end mt-5 mt-md-0 search-area"><i
                        class="fas fa-search float-start search-icon"></i><input
                        class="float-start float-sm-end custom-search-input" type="search"
                        placeholder="Find the course here"></div>
                <ul class="navbar-nav text-end ms-auto">
                    <li class="nav-item"><a class="nav-link active text-end" href="SignIn.html"
                            style="font-family: 'Abril Fatface', serif;" data-bs-target="signin.html">Sign up</a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <div class="carousel slide" data-bs-ride="carousel" data-bs-interval="10000" id="carousel-t">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="col-9 text-center mx-auto testimonial-content" style="padding-top: 20px;"><img
                            class="rounded-circle" src="assets/img/test-man.jpg" width="100" style="padding: -10px;">
                        <p class="text-center rating">5&nbsp;<i class="icon ion-star"></i></p>
                        <p class="text-center"><em>"Lorem ipsum dolor sit amet, nec cu omnium ponderum instructior,
                                eligendi gubergren cotidieque te eam. Sed ceteros salutatus definiebas eu, ut modo
                                argumentum reprimique quo. Per te convenire facilisis. Eu vel noster scaevola
                                molestiae.&nbsp;Lorem ipsum dolor sit amet, nec cu omnium ponderum instructior, eligendi
                                gubergren cotidieque te eam. Sed ceteros salutatus definiebas eu, ut modo argumentum
                                reprimique quo. Per te convenire facilisis. Eu vel noster scaevola molestiae."</em><br>
                        </p>
                        <p class="signature">John D.</p>
                        <p class="text-center date">April 21, 2014<br></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-9 offset-xl-1 text-center mx-auto testimonial-content"><img class="rounded-circle"
                            src="assets/img/test-woman.jpg" width="100" style="padding-top: 21px;">
                        <p class="text-center rating">5&nbsp;<i class="fa fa-star"></i></p>
                        <p class="text-center"><em>"Lorem ipsum dolor sit amet, nec cu omnium ponderum instructior,
                                eligendi gubergren cotidieque te eam. Sed ceteros salutatus definiebas eu, ut modo
                                argumentum reprimique quo. Per te convenire facilisis. Eu vel noster scaevola
                                molestiae.&nbsp;Lorem ipsum dolor sit amet, nec cu omnium ponderum instructior, eligendi
                                gubergren cotidieque te eam. Sed ceteros salutatus definiebas eu, ut modo argumentum
                                reprimique quo. Per te convenire facilisis. Eu vel noster scaevola molestiae."</em><br>
                        </p>
                        <p class="signature">Jane D.</p>
                        <p class="text-center date">April 21, 2014<br></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-9 text-center mx-auto testimonial-content"><img class="rounded-circle"
                            src="assets/img/test-male-pic.jpg" width="100"
                            style="width: 102px;height: 105px;margin: -29px 0px -1px;padding-top: 13px;">
                        <p class="text-center rating">5&nbsp;<i class="fa fa-star"></i></p>
                        <p class="text-center"><em>"Lorem ipsum dolor sit amet, nec cu omnium ponderum instructior,
                                eligendi gubergren cotidieque te eam. Sed ceteros salutatus definiebas eu, ut modo
                                argumentum reprimique quo. Per te convenire facilisis. Eu vel noster scaevola
                                molestiae.&nbsp;Lorem ipsum dolor sit amet, nec cu omnium ponderum instructior, eligendi
                                gubergren cotidieque te eam. Sed ceteros salutatus definiebas eu, ut modo argumentum
                                reprimique quo. Per te convenire facilisis. Eu vel noster scaevola molestiae."</em><br>
                        </p>
                        <p class="signature">John D.</p>
                        <p class="text-center date">April 21, 2014<br></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-9 offset-xl-1 text-center mx-auto testimonial-content"><img class="rounded-circle"
                            src="assets/img/test-female-pic.jpg" width="100">
                        <p class="text-center rating">5&nbsp;<i class="fa fa-star"></i></p>
                        <p class="text-center"><em>"Lorem ipsum dolor sit amet, nec cu omnium ponderum instructior,
                                eligendi gubergren cotidieque te eam. Sed ceteros salutatus definiebas eu, ut modo
                                argumentum reprimique quo. Per te convenire facilisis. Eu vel noster scaevola
                                molestiae.&nbsp;Lorem ipsum dolor sit amet, nec cu omnium ponderum instructior, eligendi
                                gubergren cotidieque te eam. Sed ceteros salutatus definiebas eu, ut modo argumentum
                                reprimique quo. Per te convenire facilisis. Eu vel noster scaevola molestiae."</em><br>
                        </p>
                        <p class="signature">Jane D.</p>
                        <p class="text-center date">April 21, 2014<br></p>
                    </div>
                </div>
            </div>
            <div><a class="carousel-control-prev" href="#carousel-t" role="button" data-bs-slide="prev"><span
                        class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a
                    class="carousel-control-next" href="#carousel-t" role="button" data-bs-slide="next"><span
                        class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
            <div class="carousel-indicators"><button type="button" data-bs-target="#carousel-t" data-bs-slide-to="0"
                    class="active"></button> <button type="button" data-bs-target="#carousel-t"
                    data-bs-slide-to="1"></button> <button type="button" data-bs-target="#carousel-t"
                    data-bs-slide-to="2"></button> <button type="button" data-bs-target="#carousel-t"
                    data-bs-slide-to="3"></button></div>
        </div>
        <div class="container">

            <div class="row product-list dev">
                <div class="col-sm-6 col-md-4 product-item animation-element slide-top-left">
                    <div class="product-container">
                        <div class="row">
                            <div class="col-md-12"><a class="product-image"><img src="assets/img/1.jpg"></a></div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <h2><strong>&nbsp;developer</strong></h2>
                            </div>
                        </div>
                        <div class="product-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i><a
                                class="small-text" href="#">82 reviews</a></div>
                        <div class="row">
                            <div class="col-12">
                                <p class="product-description"><a href="detail">Làm bạn ngu hơn</a></p>
                                <div class="row">
                                    <div class="col-6">
                                        <p class="product-price">$599.00 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div>
            <footer style="background: #edb9c2;">
                <div class="row">
                    <div class="col-sm-6 col-md-4 footer-navigation">
                        <h3></h3>
                        <p class="links"
                            style="background: url(&quot;assets/img/logo_transparent.png&quot;) center / cover no-repeat;width: 200px;height: 200px;margin-top: 2px;">
                        </p>
                        <p class="company-name">Company Name © 2023</p>
                    </div>
                    <div class="col-sm-6 col-md-4 footer-contacts">
                        <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                            <p><span class="new-line-span">24 Truong Dinh Street</span> Ha Noi, Viet Nam</p>
                        </div>
                        <div><i class="fa fa-phone footer-contacts-icon"></i>
                            <p class="footer-center-info email text-start"> +89 354046455</p>
                        </div>
                        <div><i class="fa fa-envelope footer-contacts-icon"></i>
                            <p> <a href="#" target="_blank">minhdung@gmail.com</a></p>
                        </div>
                    </div>
                    <div class="col-md-4 footer-about">
                        <h4>About the company</h4>
                        <p> Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu
                            auctor lacus vehicula sit amet. </p>
                        <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a
                                href="#"><i class="fa fa-twitter"></i></a><a href="#"><i
                                    class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
                    </div>
                </div>
                <div></div>
            </footer>
        </div>
    </div>
    <script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/js/Animated-Pretty-Product-List-v12-Animated-Pretty-Product-List.js}"></script>
    <script th:src="@{/assets/js/Slider-laptop-laptop-Slider.js}"></script>
</body>

</html>