
# Cấu hình email
spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=onvid0505@gmail.com
spring.mail.password=jcxhcooxjhghtcja
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true