<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Lỗi</title>
</head>

<body>
    <h1>Lỗi</h1>

    <div th:if="${#request.getAttribute('javax.servlet.error.status_code')}">
        <h2>Thông tin lỗi:</h2>
        <p>StatusCode: <span th:text="${#request.getAttribute('javax.servlet.error.status_code')}"></span></p>
        <p>Message: <span th:text="${#request.getAttribute('javax.servlet.error.message')}"></span></p>
        <p>Exception: <span th:text="${#request.getAttribute('javax.servlet.error.exception')}"></span></p>
    </div>

    <div th:unless="${#request.getAttribute('javax.servlet.error.status_code')}">
        <h2>Không có thông tin lỗi.</h2>
    </div>
</body>

</html>