<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
<style>
    table {
        width: 100%;
    }

    .datatable-search {
        position: relative;
    }

    .datatable-input,
    .datatable-selector {
        padding: 8px 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
    }

    .datatable-input:focus,
    .datatable-selector:focus {
        outline: none;
        border-color: #5c7cfa;
        box-shadow: 0 0 0 2px rgba(92, 124, 250, 0.5);
    }

    th {
        color: #5c7cfa;
    }
</style>

<div class="container-fluid px-4">
    <div class="card mb-4">
        <div class="card-header" th:text="'List ' + ${entities[0].class.getSimpleName}">
        </div>
        <div class="card-body table-responsive">

            <table id="datatablesSimple" class="table table-hover">
                <a href="create" class="btn btn-primary px-3 " aria-disabled="true">Create</a>

                <thead>
                    <tr>
                        <th th:each="field : ${fields}" th:text="${field.getName}" class="text-capitalize">
                        </th>
                        <th>Details</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="entity : ${entities}">
                        <th:block th:each="field : ${fields}">
                            <td th:if="${field.getType.getSimpleName == 'Collection'}"
                                th:text="${entity[field.getName].size}"></td>
                            <td th:if="${field.getType.getSimpleName != 'Collection'}"
                                th:text="${entity[field.getName]}"></td>
                        </th:block>

                        <td>
                            <a th:href="'details/' + ${entity[fields[0].getName]}" class="btn btn-secondary btn-sm "
                                tabindex="-1" aria-disabled="true">Details</a>
                        </td>
                        <td>
                            <a th:href="'edit/' + ${entity[fields[0].getName]}" class="btn btn-warning btn-sm px-3"
                                tabindex="-1" aria-disabled="true">Edit</a>
                        </td>
                        <td>
                            <a th:href="'delete/' + ${entity[fields[0].getName]}" class="btn btn-danger btn-sm "
                                tabindex="-1" aria-disabled="true">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script th:src="@{/assets/js/datatables-simple-demo.js}"></script>