<th:block th:replace="/layout-guest.html">
    <th:block th:fragment="main-content">
        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }

            .rating {
                font-size: 0;
                white-space: nowrap;
                display: inline-block;
            }

            .star {
                display: inline-block;
                width: 16px;
                height: 16px;
                background-image: url('filled-star.png');
            }

            .star::before {
                content: '';
                width: 100%;
                height: 100%;
                background-image: url('empty-star.png');
            }

            .star.active::before {
                display: none;
            }
        </style>


        <section class="py-5 text-center container">
            <img th:src="@{/image/online-learning-web-banner-2-compressor.jpg}" style="width: 100%;" alt="banner image">
            <br>
            <br>
            <br>
            <div style="background-color: rgb(0, 115, 255); color: white; width: 100%;">
                <h2 style="color: white; text-align: center;">Popular course</h2>
            </div>
            <br>
            <br>
            <div class="album">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
                    <div class="col" th:each="course : ${popularCourses}">
                        <div class="card shadow-sm">
                            <img th:src="@{'/image/' + ${course.imageLink} }" width="100%" height="225">
                            <div class=" card-body">
                                <a th:href="'/student/course/detail/' + ${course.id}">
                                    <h3 th:text="${course.name}"></h3>
                                </a>
                                <p th:text="${course.teacherName}" class="card-text text-secondary"></p>
                                <div style="margin: auto;">
                                    <span th:text="${course.ratingStar}"></span>
                                    <i class="fas fa-star" style="color: rgb(223, 223, 16);"></i>
                                </div>
                                <span th:text="${course.price}" class="card-title h2"></span><small>vnđ</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div style="background-color: rgb(0, 115, 255); color: white; width: 100%;">
            <h2 style="color: white; text-align: center;">All course</h2>
        </div>
        <br>
        <br>
        <div class="album">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
                <div class="col" th:each="course : ${courses}">
                    <div class="card shadow-sm">
                        <img th:src="@{'/image/' + ${course.imageLink} }" width="100%" height="225">
                        <div class=" card-body">
                            <a th:href="'/student/course/detail/' + ${course.id}">
                                <h3 th:text="${course.name}"></h3>
                            </a>
                            <p th:text="${course.teacherName}" class="card-text text-secondary"></p>
                            <div class="d-flex">
                                <span th:text="${course.ratingStar}"></span>
                                <i class="fas fa-star" style="color: rgb(223, 223, 16);"></i>
                            </div>
                            <span th:text="${course.price}" class="card-title h2"></span><small>vnđ</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <nav aria-label="...">
            <ul class="pagination pagination-lg">
                <li class="page-item" th:each="number : ${listPageNumber}">
                    <a class="page-link" th:href="'/student/home/' + ${number}" th:text="${number}"
                        th:style="'background-color: ' + ${number == pageChoose ? 'pink' : 'white'} + ';'"></a>
                </li>
            </ul>
        </nav>
    </th:block>
</th:block>